.infobox{
  z-index: -1;
  position: relative;
  line-height: 1.5;
  width: 170px;
  background-color: #D9F2F2;
  box-shadow:0px 1px 10px -3px rgba(50, 50, 50, 1);
  .name{
    // width: 80%;
    padding-right: 20px;
    background-color: $theme-main-color;
    padding: 15px;
    box-shadow:0px 1px 10px -3px rgba(50, 50, 50, 1);
    z-index: 2;
    font-weight: 500;
    font-size: 1rem;
  }
  .title{

    padding: 15px;

  }
  .close{
    position: absolute;
    top: 7px;
    right: 7px;
    color: white;
    font-size: 27px;

  }
}
